node_modules/
dist/
sops/
local_packages/
.github/events

.cache
.secrets.yaml
.env
.DS_Store

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.lof
*.lot
*.lol
*.synctex.gz
*.fls
*.fdb_latexmk
*.synctex.gze
*.synctex(busy)
